@charset "utf-8";

/* ==========================================================================
  font-face
   ========================================================================== */

@import url('lib/font.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css');

/* ==========================================================================
   Base styles & Helper
   ========================================================================== */

@import url('lib/normalize.css');
@import url('datepicker.css');
@import url('flipclock.css');

/* base */
h1,h2,h3,h4,h5,h6,fieldset,ul,ol,dl,dt,dd,p,button,figure{margin:0;padding:0;}
html{}
body{font:normal 12px/1.5 "나눔고딕",'Nanum Gothic',NanumGothic,sans-serif;color:#666;}
legend,caption{width:0;height:0;visibility:hidden;font-size:0;line-height:0;}
em,a ,input,textarea,keygen,select,button,isindex{font-style:normal;text-decoration:none;color:inherit;}
fieldset,button{background:none;border:0px;}
ul:after,ol:after{content:'';display:block;clear:both;}
li{list-style:none;}
img{vertical-align:middle;max-width:100%;}
table{width:100%;border-spacing:0px;border-collapse:collapse;table-layout:fixed;}
iframe{width:100%;vertical-align:middle;}
input,button{box-sizing:inherit;}
hr{border-width:1px 0 0 0;}

/* ==========================================================================
   common
   ========================================================================== */
.block{display:block}
.inblock{display:inline-block}
.hide{display:none;}
.skip,.blind{position:absolute;overflow:hidden;visibility:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}

.static{position:static;}
.relative{position:relative;}

.f_left{float:left !important;}
.f_right{float:right !important;}
.clear{clear:both;}

.p10{padding:10px;}
.p20{padding:20px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}

.ml5{margin-left:5px;}
.ml6{margin-left:6px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}

.w_100{width:100%;}
.w75 {width: 75px !important;}
.w200 {width: 200px !important;}

.hidden{overflow:hidden;}
.scroll{overflow-y:scroll;}
.no_bg{background:none !important;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.op80{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.bgLayer{display:none;position:fixed;top:0;left:0;z-index:500;width:100%;height:100%;background:#333;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;}

.blur img{-webkit-filter:blur(6px);-moz-filter:blur(6px);filter:blur(6px);}
.grayscale img{
	filter:url(filters.svg#gray);/* Gecko and FF*/
	filter:gray;/* IE */
	-moz-filter:grayscale(1);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-webkit-filter:grayscale(1);}
a.grayscale:hover img,a.grayscale:focus img,a.grayscale:active img{
	filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
	-webkit-filter:none;}

.normal{font-weight:normal;}
.bold{font-weight:bold;color:#000;}
.bold_red{font-weight:bold;color:#f23d3d;}
.exbold{font-weight:800;}
.underline{text-decoration:underline;}
.t_eng{font-family:Arial,Tahoma ,Geneva,Verdana;}
.t_num{font-family:Verdana;}

.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f25{font-size:25px;}
.f28{font-size:28px;}
.f30{font-size:30px;}

.lh32{line-height:32px;}

.t_wht{color:#fff;}
.t_blk{color:#000;}
.t_gray{color:#999;}
.t_dgray{color:#333;}
.t_red{color:#ff3d3d;}
.t_green{color:#4fb315;}
.t_org{color:#ff4613;}
.t_blue{color:#4172c9;}

.t_center{text-align:center;}
.t_left{text-align:left;}
.t_right{text-align:right;}

.midline{text-decoration:line-through;}
.udline{text-decoration:underline;}


/* skipNavi */
#skipNavi{position:relative;}
	#skipNavi a{display:block;position:absolute;left:0;top:-30px;width:138px;text-align:center;color:#fff;background:#000;z-index:1000;}
	#skipNavi a:focus,#skipNavi a:hover{top:0px;}

/* toTop */
#toTop{display:none;position:fixed;right:10px;bottom:10px;width:40px;height:40px;font-size:0;text-indent:-1000px;text-align:center;color:#fff;background:url(../images/common/toTop.png) center center no-repeat #777;opacity:0.8;border-radius:20px;}
	#toTop:hover,#toTop:focus,#toTop.hover{opacity:1;}

/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar{width:8px;height:8px;border:3px solid #fff;}
::-webkit-scrollbar-track{background:#efefef;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb{height:50px;width:50px;background:rgba(0,0,0,.2);-webkit-border-radius:8px;border-radius:8px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.1)}

/* ==========================================================================
   form
   ========================================================================== */
label{display:inline-block}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
	{display:inline-block;height:26px;line-height:24px;padding:0px 10px;border:1px solid #aaaaaa;background:#fff;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;vertical-align:middle;box-sizing:border-box;border-radius:3px}
input[type="file"]{padding:3px;line-height:12px;}
select:hover, textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover{border-color:#777}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{border-color:#777}
select:disabled, textarea:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="date"]:disabled, input[type="month"]:disabled, input[type="time"]:disabled, input[type="week"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="url"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="color"]:disabled{background-color:#f9f9f9;}
select{display:inline-block;height:26px;line-height:24px;border:1px solid #aaaaaa;vertical-align:middle;box-sizing:border-box;border-radius:3px}
select::-ms-expand{display: none;}
textarea{width:100%;min-height:100px;padding:10px;resize:none;line-height:1.5;box-sizing:border-box;}
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholde,
:-ms-input-placeholder,
.placeholder{color:#999;}

.checkbox,.radio{position:relative;display:inline-block;cursor:pointer;vertical-align:middle;}
.checkbox input,.radio input{opacity:0;position:absolute;left:0;top:0;width:26px;height:26px;z-index:1;}
.checkbox input:checked,.radio input:checked,.checkbox input:focus,.radio input:focus{outline:none! important}
.checkbox input+.lbl,.radio input+.lbl{position:relative;display:inline-block;margin:0;line-height:20px;min-height:20px;padding:3px 0 3px 30px;font-weight:normal;vertical-align:top;word-break:break-all;}
.checkbox.only input+.lbl,.radio.only input+.lbl{padding-left:26px;text-indent:-999em;font-size:0;}
.checkbox input+.lbl:before,.radio input+.lbl:before{content:'';border:1px solid #ddd;box-shadow:0 1px 2px rgba(0,0,0,0.05);background:#fff;display:inline-block;height:26px;width:26px;position:absolute;left:0;top:0;box-sizing:border-box;}
.radio input+.lbl:before{border-radius:100%;}
.checkbox input+.lbl:after,.radio input+.lbl:after{content:'';display:inline-block;position:absolute;background-color:#ddd}
.checkbox input+.lbl:after{width:12px;height:6px;top:7px;left:6px;border:3px solid #ddd;border-top:none;border-right:none;background:transparent;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.radio input+.lbl:after{width:12px;height:12px;top:7px;left:7px;border-radius:100%;background:#ddd;}
.checkbox input:checked+.lbl,.radio input:checked+.lbl{color:#222;}
.checkbox input:checked+.lbl:before,.radio input:checked+.lbl:before{border-color:#777;}
.radio input:checked+.lbl:after{background:#c80000;}
.checkbox input:checked+.lbl:after{border-color:#c80000;}
.checkbox input:disabled+.lbl:before,.radio input:disabled+.lbl:before,
.checkbox input[disabled]+.lbl:before,.radio input[disabled]+.lbl:before,
.checkbox input.disabled+.lbl:before,.radio input.disabled+.lbl:before,
.checkbox input:disabled+.lbl:after,.radio input:disabled+.lbl:after,
.checkbox input[disabled]+.lbl:after,.radio input[disabled]+.lbl:after,
.checkbox input.disabled+.lbl:after,.radio input.disabled+.lbl:after{opacity:0.5;}
.checkbox.hover > input + .lbl:before,.radio.hover > input + .lbl:before{border-color:#777}
.lbl_area > label{margin:0.3em 2em 0.3em 0;}

/*파일첨부*/
.inp_file{position:relative;padding-right:65px;}
.inp_file > input{width:100%;vertical-align:middle;}
.inp_file .btn_file{display:inline-block;position:absolute;right:0;top:0;width:60px;overflow:hidden;vertical-align:middle;}
.inp_file .btn_file .button{padding-left:0;padding-right:0;width:100%;}
.inp_file .btn_file input{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;margin:0;z-index:2;font-size:10em;line-height:2;cursor:pointer;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;}
span.inp_file{display:inline-block;padding-right:0;}
span.inp_file > input{width:400px;}
span.inp_file .btn_file{position:relative;}

/*spinner*/
.ui-spinner{position:relative;display:inline-block;padding:0 54px 0 0;border:0 none;}
.ui-spinner .spinner{width:35px;text-align:center;padding:0;color:#333;font-weight:bold;vertical-align:middle;}
.ui-spinner-button{display:inline-block;border-radius:3px;margin-left:1px;font-size:0 !important;vertical-align:middle;}
.ui-spinner-button .icon{display:inline-block;width:26px;height:26px;text-indent:-999em;font-size:0;}
.ui-spinner-up{right:27px;background:#c80000 url(../images/common/btn_plus.png) no-repeat center;}
.ui-spinner-down{right:0px;background:#333 url(../images/common/btn_minus.png) no-repeat center;}

.inp_spinner{position:relative;display:inline-block;padding:0 54px 0 0;border:0 none;}
.inp_spinner input{width:35px;text-align:center;padding:0;color:#333;font-weight:bold;vertical-align:middle;}
.inp_spinner .btn{display:inline-block;border-radius:3px;margin-left:1px;vertical-align:middle;width:26px;height:26px;text-indent:-999em;font-size:0;}
.inp_spinner .btn_plus{right:27px;background:#c80000 url(../images/common/btn_plus.png) no-repeat center;}
.inp_spinner .btn_minus{right:0px;background:#333 url(../images/common/btn_minus.png) no-repeat center;}


/* datepicker */
.hasDatepicker{width:85px;text-align:center;}
.ui-datepicker-trigger{display:inline-block;width:26px;height:26px;margin-left:1px;background:url(../images/common/btn_datepicker.gif) no-repeat center center;text-indent:-999em;vertical-align:middle;}

/* switch */
.switch{display:inline-block;vertical-align:middle;}
.switch input{position:absolute;left:-9999px;opacity:0;}
.switch span{position:relative;width:65px;height:26px;background:#e8e8e8;display:inline-block;;border-radius:13px;cursor:pointer;transition:150ms linear;font-size:12px;}
.switch span:before{content:"off";position:absolute;right:10px;top:5px;color:#999999;text-transform:uppercase;line-height:14px;}
.switch span:after{transition:150ms linear;height:22px;width:22px;display:block;border-radius:999px;content:"";background:#fff;position:absolute;top:2px;left:2px;}
.switch input:checked+span{background:#c80000;}
.switch input:checked+span:before{content:"on";left:12px;color:#fff;}
.switch input:checked+span:after{left:41px;}

/* width */
.inp_wid>label{margin-left:20px}
.inp_wid>input,.inp_wid>select{width:100px;margin-left:5px}
.inp_wid>input:first-child,.inp_wid>select:first-child,.inp_wid>label:first-child,.inp_wid>.button:first-child{margin-left:0}

/* ==========================================================================
   Layout
   ========================================================================== */

html,body{height:100%;}
#wrap{min-width:320px;min-height:100%;margin-bottom:-39px;}
#header{position:fixed;left:0;top:0;width:100%;border-bottom:2px solid #EDD332;background:#f4f4f4;z-index:13;}
	#header > div{margin-left:200px;border-left:1px solid #fff;padding:10px;overflow:hidden;}
	#logo{float:left;width:199px;}
	#logo a{display:block;height:40px;line-height:48px;text-align:center;}
	#logo a img{max-width:100%;max-height:100%}
	.btn_gnb{display:none;position:fixed;left:10px;top:4px;width:30px;height:40px;font-size:0;text-align:center;z-index:20;}
	.btn_gnb i:before,
	.btn_gnb i:after{content:'';transition-duration:0.3s, 0.2s;transition-delay:0.5s, 0s;}
	.btn_gnb i:before,
	.btn_gnb i:after,
	.btn_gnb i{position:absolute;display:block;left:0px;top:19px;width:100%;height:4px;background:#000;border-radius:2px;}
	.btn_gnb i:before{top:-9px;transition-property:top, transform;}
	.btn_gnb i:after{top:auto;bottom:-9px;transition-property:bottom, transform;}
	.btn_gnb.on i{background:none;transition:background 0s 0.3s}
	.btn_gnb.on i:before{top:0px;transform:rotate(45deg);transition-delay:0s, 0.3s;}
	.btn_gnb.on i:after{bottom:0px;transform:rotate(-45deg);transition-delay:0s, 0.3s;}
	.head_timer{float:left;}
	.head_timer > div{float:left;}
	.head_timer .date{margin-right:15px;padding-top:4px;}
	.head_timer .date span{display:inline-block;margin-left:7px;}
	.head_timer .date span:first-child{margin-left:0px;}
	.head_timer .date b{position:relative;top:2px;margin-right:3px;font-family:Arial;font-weight:bold;font-size:20px;line-height:1;color:#333;letter-spacing:-2px;}
	.head_info{float:right;padding-top:3px;color:#333;}
	.head_info strong{font-weight:bold;color:#000;}
	.head_info .button{margin-left:6px;padding:0 10px;height:22px;line-height:22px;}
.left_menu{position:fixed;left:0;top:0;width:200px;height:100%;background:#3e3f40;overflow-y:auto;transition:all 0.3s ease-in-out;z-index:12;}	
	#gnb{margin-top:50px;}
	#gnb > ul{}
	#gnb > ul > li{border-top:1px solid #4b4c4d;border-bottom:1px solid #2e2f31;}
	#gnb > ul > li > a{position:relative;display:block;padding:10px 25px;color:#fff;font-size:13px;font-weight:bold;}
	#gnb > ul > li > a:hover,
	#gnb > ul > li > a:focus,
	#gnb > ul > li > a:active,
	#gnb > ul > li.active > a{padding-left:21px;border-left:4px solid #EDD332;background:#2e2f31;}
	#gnb > ul > li.in_sub > a:after{content:'';display:block;width:6px;height:6px;border:2px solid #fff;border-width:0 2px 2px 0;position:absolute;right:12px;top:50%;margin-top:-7px;-webkit-transform:rotate(45deg);transform:rotate(45deg);transition:all 0.5s ease;}
	#gnb > ul > li.in_sub.on > a:after{margin-top:-3px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);}
	#gnb > ul > li > div{display:none;border-top:1px solid #2e2f31;background:#464646;}
	#gnb > ul > li > div > ul{padding:5px 10px 15px 15px;border-top:1px solid #4b4c4d;}
	#gnb > ul > li > div > ul > li{margin-top:10px;}
	#gnb > ul > li > div > ul > li > a{position:relative;display:block;color:#999;padding-left:10px;}
	#gnb > ul > li > div > ul > li > a:before{content:'';display:block;width:3px;height:3px;position:absolute;left:0;top:8px;background:#fff;border-radius:100%;}
	#gnb > ul > li > div > ul > li > a:hover,
	#gnb > ul > li > div > ul > li > a:focus,
	#gnb > ul > li > div > ul > li > a:active,
	#gnb > ul > li > div > ul > li.active > a{color:#EDD332;}
	#gnb > ul > li > div > ul > li.active > a:before{background:#EDD332;}
	#gnb > ul > li > div > ul > li > div > ul{padding-left:10px;}
	#gnb > ul > li > div > ul > li > div > ul > li{margin-top:5px;}
	#gnb > ul > li > div > ul > li > div > ul > li > a{position:relative;display:block;padding-left:10px;color:#aaaaaa;}
	#gnb > ul > li > div > ul > li > div > ul > li > a:before{content:'└';display:block;position:absolute;left:-5px;top:0;color:#aaa;}
	#gnb > ul > li > div > ul > li > div > ul > li > a:hover,
	#gnb > ul > li > div > ul > li > div > ul > li > a:focus,
	#gnb > ul > li > div > ul > li > div > ul > li > a:active,
	#gnb > ul > li > div > ul > li > div > ul > li.active > a{color:#fff;text-decoration:underline;}
	#gnb > ul > li > div > ul > li > div > ul > li.active > a:before{color:#fff;}		
#container{padding:80px 30px 100px 230px;}
	#contents{position:relative;}
	#page_tit{padding-bottom:10px;margin-bottom:30px;border-bottom:1px solid #333;color:#000;font-size:18px;line-height:1;}
	.page_info{padding-bottom:10px;margin-bottom:30px;border-bottom:3px solid #ccc;}
	.page_info h2{float:left;}
	.page_info p{float:right;line-height:27px;}
	.page_info:after{content:'';display:block;clear:both;}
#footer{padding:10px 0 10px 220px;border-top:1px solid #333;background-color:#333333;color:#fff;}

/* ==========================================================================
   component
   ========================================================================== */

/* 제목요소 */
.cont_tit{color:#000000;font-weight:bold;line-height:1;}
.cont_tit span{font-size:12px;font-weight:normal;}

/* 버튼 */
.btn_wrap{position:relative;margin-top:30px;text-align:center;overflow:hidden;}
.button{display:inline-block;padding:3px 15px;line-height:18px;background:#fff;border:1px solid #b7b7b7;border-radius:3px;text-align:center;vertical-align:middle;font-weight:bold;cursor:pointer;box-sizing:border-box;}
.button:hover,.button:focus,.button:active{text-decoration:none !important}
.button:active{transform:scale(0.95)}
	
	.button.btn_blk{background:#333;border-color:#333;color:#fff;}
	.button.btn_gray{background:#aaaaaa;border-color:#aaaaaa;color:#fff;}
	.button.btn_blue{background:#4172c9;border-color:#4172c9;color:#fff;}	
	.button.btn_grn{background:#32c2b8;border-color:#32c2b8;color:#fff;}
	.button.btn_wht{background:#fff;border-color:#333;color:#333;}
	.button.btn_red{background:#e21a22;border-color:#e21a22;color:#fff;}
	.button.btn_orange{background:#f47d20;border-color:#f47d20;color:#fff;}
	.button.btn_yellow{background:#fde513;border-color:#fde513;color:#000;}
	.button.btn_brown{background:#370707;border-color:#370707;color:#fff;}
	
	.button.h20{padding:0px 5px;font-size:11px;font-weight:normal;}
	.button.h30{padding:5px 10px;font-size:14px;}
	.button.h40{padding:5px 10px;line-height:28px;font-size:16px;}

	.button.w70{width:68px;padding-left:0;padding-right:0;}
	.button.w100{width:98px;padding-left:0;padding-right:0;}
	.button.w120{width:118px;padding-left:0;padding-right:0;}
	.button.w140{width:138px;padding-left:0;padding-right:0;}
	.button.w160{width:160px;padding-left:0;padding-right:0;}
	.button.full{width:100%;padding-left:0;padding-right:0;}

.btn_sort{display:inline-block;border:1px solid #b4b4b4;border-radius:3px;}
.btn_sort a{display:inline-block;padding:4px 8px;border-left:1px solid #b4b4b4;text-align:center;}
.btn_sort a:first-child{border-left:0 none;margin-left:0;}
.btn_sort a:hover,
.btn_sort a:focus,
.btn_sort a:active,
.btn_sort a.on{color:#fff;font-weight:bold;background:#c80000;}

.btn_onoff{position:relative;display:inline-block;border-radius:15px;background:#e8e8e8;overflow:hidden;}
.btn_onoff span{display:inline-block;padding:3px;min-width:3em;text-align:center;}
.btn_onoff.active{color:#fff;background:#c80000;font-weight:bold;}
.btn_onoff i{display:block;position:absolute;top:2px;right:0;left:50%;bottom:2px;width:48%;border-radius:10px;text-indent:-999em;background:#fff;-webkit-transition:all .3s;transition:all .3s;}
.btn_onoff.active i{left:2%;}

/* 탭메뉴 */
.tabmenu{display:table;table-layout:fixed;width:100%;border-collapse: collapse;}
.tabmenu > li{display:table-cell;border:1px solid #666666;;background:#eee;padding:10px 3px;text-align:center;}
.tabmenu > li.on{background:#fff;}
.tabmenu > li > a{font-size:14px;color:#999}
.tabmenu > li > a:hover,
.tabmenu > li > a:focus,
.tabmenu > li > a:active,
.tabmenu > li.on > a{color:#000;font-weight:bold;}
.tab_cont{display:none}

/* table */
.table{border-top:2px solid #999;border-bottom:1px solid #d2d2d2;}
.table img{max-width:100%;}
.table th,.table td{padding:10px;text-align:center;word-break:break-all;}
.table th{padding-top:14px;padding-bottom:14px;}
.table thead th{background:#f4f4f4;color:#333;border-left:1px solid #e3e3e3;}
.table thead th:first-child{border-left:none;}
.table thead th a{color:#333;}	
.table tbody th,.table tbody td{border-left:1px solid #e3e3e3;border-top:1px solid #e3e3e3;}
.table tbody tr:first-child th,.table tbody tr:first-child td{border-top:1px solid #d2d2d2;}
.table tbody th:first-child,.table tbody td:first-child{border-left:0 none;}
.table tfoot th,.table tfoot td{border-left:1px solid #e3e3e3;border-top:1px solid #e3e3e3;background:#fde6d6;}
.table tfoot th:first-child,.table tfoot td:first-child{border-left:0 none;}
	.table .t_center{text-align:center;}
	.table .t_left{text-align:left;}
	.table .t_right{text-align:right;}
.tbl_hover tbody .hover th,.tbl_hover tbody .hover td,
.tbl_hover tbody tr:hover th,.tbl_hover tbody tr:hover td{background:#fffce9;}

.left_tbl th{background:#f4f4f4;color:#000;text-align:left;padding-left:20px;}
.left_tbl td{text-align:left;}
.left_tbl td label{line-height:30px;margin-left:10px;}
.left_tbl td label input, .left_tbl td label span{vertical-align:middle}
.tbl_view th{background:#f4f4f4;color:#000;padding-left:20px;text-align:left;}
.tbl_view td{text-align:left;}
.table .view_cont{min-height:300px;text-align:left;}
.table .view_cont img{max-width:100%;}
.table .table{border:0 none;}
.table .table th,.table .table td{padding:5px 3px;text-align:center;border:1px solid #eee !important;}
.table .table th{background:none;}
.th_sort{position:relative;display:block;padding-right:10px;}
.th_sort .fa{position:absolute;right:0;top:50%;margin-top:-6px;}
.tbl_btn{margin-top:30px;overflow:hidden;text-align:center;}


/*페이징*/
.pagination{display:inline-block;padding-left:0;border-radius:4px;}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.42857143;text-decoration:none;color:#333333;background-color:#fff;border:1px solid #ddd;margin-left:-1px}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{color:#fff;background-color:#333333;border-color:#333333;}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:2;color:#fff;background-color:#333333;border-color:#333333;cursor:default}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#333333;background-color:#fff;border-color:#ddd;cursor:not-allowed}

/* etc */
.line_box{padding:20px;border:1px solid #ccc;}
.line_box > strong{display:inline-block;}
.bg_gray{background:#f6f6f6;}
.txt_list{padding-left:15px;}
.txt_list>li{list-style:disc;}
.txt_list>li+li{margin-top:5px}
.arr_list>li{padding-left:15px;background:url(../images/common/bg_arrList.png) no-repeat left 4px;}
.arr_list>li+li{margin-top:5px;}
.ic_txt{display:inline-block;padding:0 4px;font-size:10px;font-weight:800;background:#ff6740;color:#fff;border-radius:3px;letter-spacing:-1px;}
.link,.link:hover,.link:focus,.link:active{text-decoration:underline;}

/* ==========================================================================
   popup
   ========================================================================== */

.pop_bg{display:none;position:fixed;left:0;top:0;right:0;bottom:0;padding:100px;background:rgba(0,0,0,0.5);z-index:1000;}
/*.pop_wrap.pop_layer{position:absolute;left:50%;top:50px;width:472px;margin-left:-238px;z-index:1000;}*/
.pop_wrap{display:none;position:relative;background:#fff;width:496px;border:2px solid #333333;margin:0 auto;}
.pop_wrap > h1{line-height:42px;font-size:16px;color:#fff;background:#333333;padding-left:20px;}
.pop_wrap .pop_cont{padding:30px 30px 20px;}
.pop_wrap .btn_close{display:block;position:absolute;right:14px;top:9px;width:23px;height:23px;background:url(../images/common/pop_close.png) no-repeat center;text-indent:-9999em;}


/* ==========================================================================
   Print styles.
   ========================================================================== */
@media only screen and (max-width:1024px ){
	
	/*layout*/
	#header{position:static;padding-top:50px;border:none;z-index:0;}
	#logo{position:fixed;left:0;top:0;width:100%;float:none;text-align:center;border-bottom:2px solid #000000;background:#e9e9ea;z-index:13;height:50px;}
	#logo a{display:inline-block;height:35px;}
	#header > div{margin-left:0;border-left:0 none;}	
	.left_menu{left:-200px;}
	.left_menu.active{left:0px;}
	.btn_gnb{display:block;}	
	#container{padding:20px 10px 50px;}
	#footer{padding:10px;text-align:center;}
	
	.inp_wid:after{content:'';display:block;clear:both;}
	.inp_wid + .inp_wid{margin-top:5px;}
	.inp_wid .button{padding-left:0;padding-right:0;}
	.inp_wid>input,.inp_wid>select,.inp_wid>label{float:left;width:100%;}
	.inp_wid.wid2>input,.inp_wid.wid2>select,.inp_wid.wid2>label,.inp_wid.wid2>.button{width:49%;margin-left:2%;}
	.inp_wid.wid3>input,.inp_wid.wid3>select,.inp_wid.wid3>label,.inp_wid.wid3>.button{width:32%;margin-left:2%;}
	.inp_wid.wid4>input,.inp_wid.wid4>select,.inp_wid.wid4>label,.inp_wid.wid4>.button{width:23.5%;margin-left:2%;}
	.inp_wid>input:first-child,.inp_wid>select:first-child,.inp_wid>label:first-child,.inp_wid>.button:first-child{margin-left:0 !important;}

	/*table*/
	.left_tbl th{padding-left:10px;}

	/*popup*/
	.pop_bg{padding:50px;}
}

@media only screen and (max-width:740px ){
	/* common */
	.head_timer{float:none;text-align:center;}
	.head_timer > div{float:none;display:inline-block;vertical-align:middle;}
	.head_info{float:none;padding-top:10px;text-align:center;}
	.pop_wrap .pop_cont{padding:20px;}

	span.inp_file > input{width:150px;}

	/*table*/
	.form_tbl,.form_tbl > tbody,.form_tbl > tbody > tr,.form_tbl > tbody > tr > th,.form_tbl > tbody > tr > td{display:block;border-left:0 none !important;}
	.tbl_wrap{overflow-x:auto}
	.tbl_wrap .table{table-layout:auto;}
	.tbl_wrap .table th,.tbl_wrap .table td{white-space:nowrap;}
	.left_tbl input[type="text"], .left_tbl input[type="password"]{width:100%;}
	.left_tbl td label{margin-top:10px;margin-left:0;}

	/*etc*/
	.line_box{padding:10px;}

	/*popup*/
	.pop_bg{padding:20px;}
	.pop_wrap{width:auto !important;}
}

@media only screen and (max-width:480px ){
	#header{}
	.head_timer > div{display:block;}
	.head_timer .date{margin-right:0;}
	#header .flip-clock-wrapper ul{float:none;display:inline-block;}
	#header .flip-clock-divider{float:none;display:inline-block;}
	
	.m_none{display:none;}
	.table th,.table td{padding:10px 3px;font-size:0.875em;}
	.table th{padding-top:14px;padding-bottom:14px;}
	.form_tbl th,.form_tbl td{font-size:1em;}
	.pop_wrap .pop_cont{padding:20px 10px;}
	
	/*popup*/
	.pop_bg{padding:5px;}
}
@media print{
	#header,#lnb,#footer{display:none;}
	#container{padding:10px;}
}