@charset "utf-8";


.ui-widget {	
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	background: #5b5656;
	color: #222222;
	font-family:NGB;
}
.ui-widget-header a {
	color: #222222;
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-datepicker {
	width: 248px;
	display: none;
	z-index:12 !important;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 4px;
	width: 1.8em;
	height: 1.8em;
	background:#5b5656;
	border-radius:3px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 5px;
}
.ui-datepicker .ui-datepicker-next {
	right: 5px;
}

/* 
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 5px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 4px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 4px;
} */
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	width:6px;
	height:10px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 50%;
	margin-top: -4px;
}
.ui-datepicker .ui-datepicker-prev span{
	background:url(../images/common/btn_monthPrev.png) no-repeat center center;
}
.ui-datepicker .ui-datepicker-next span{
	background:url(../images/common/btn_monthNext.png) no-repeat center center;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	font-size: 16px;
	color:#fff;
	font-family:NGB;
}
.ui-datepicker .ui-datepicker-title select {
	margin: 1px 0;
	color: #666;
	font-size: 14px;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 96%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 2% 10px;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-family:NGB;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
	text-align: center;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: inline-block;
	width: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 15px;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}


.ui-datepicker .ui-state-highlight{background:#e3e3e6;}
.ui-datepicker .ui-state-hover{background:#cb1919;color:#fff !important}
.ui-datepicker .ui-state-active{background:#cb1919;color:#fff !important}
.ui-datepicker-week-end:first-child, .ui-datepicker-week-end:first-child .ui-state-default {
	color: #ff4e00;
}

.ui-datepicker-week-end, .ui-datepicker-week-end .ui-state-default {
	color: #1c86c3;
}